@'
name: Ejercicio 1

on:
  push:
    branches:
      - main

jobs:
  hello:
    runs-on: ubuntu-latest
    steps:
      - name: Saludar
        run: echo "Hola, mi nombre es Gedsel Ochoa"

      - name: Fecha y hora
        run: date

      - name: Mostrar sistema operativo
        run: echo "Sistema operativo: $RUNNER_OS"
'@ | Set-Content -Path .github\workflows\ejercicio1.yml -Encoding utf8
